# IOT QUIZ

In [63]:
#It's a set of numbers that i use input for all the programs.
numbers = list(range(1,30))

**Q1) Python program to print all odd numbers in a list.**

In [64]:
odd_numbers = []
for num in numbers:
  if num%2==1:
    odd_numbers.append(num)
else:
  print("ODD NUMBERS = ",odd_numbers)

ODD NUMBERS =  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

**Q2) Python program to find the sum of list elements.**

In [65]:
sum = 0
for num in numbers:
  sum += num
print("sum of list: ",sum)

sum of list:  435

**Q3) Python program to reverse a list in two ways.**

In [66]:
#way1 through slicing
print("revesed list through slicing: ",numbers[::-1])

#way2 through builtin method
rev = numbers.copy()
rev.reverse()
print("revesed list through builtin methods: ",rev)

revesed list through slicing:  [29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
revesed list through builtin methods:  [29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

Q4) Python program to find the top two maximum
numbers in a list.**

In [67]:
top2_maximum = []
temp = numbers.copy()
for i in range(2):
  maximum = max(temp)
  top2_maximum.append(maximum)
  temp.pop()
print("top 2 maximum = ",top2_maximum)

top 2 maximum =  [29, 28]

**Q5) Write a program in Python to find the second highest
number in an integer list.**

In [68]:
temp = numbers.copy()
temp.pop()
print("Second Highest = ",max(temp))

Second Highest:  28

**Q6) Python program to sort characters in descending
order.**

In [74]:
temp = numbers.copy()
temp.sort(reverse=True)
print("Sort in Descending Order =",temp)

Sort in Descending Order [29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

**Q7) Python program to remove repeated characters from a
string.**

In [111]:
count_words = {}
word = "SSUET IOT - SECTION A"
non_repeated = ""

for chr in word:
  if chr in count_words:
    count_words[chr] += 1
  else:
    count_words[chr] = 1 

for i in count_words.keys():
  if count_words[i] == 1:
    non_repeated += i

print("original string:",word)
print("Non Repeated Characters:",non_repeated)

original string: SSUET IOT - SECTION A
Non Repeated Characters: U-CNA

**Q8) Python program to check if a given character is a
vowel or consonant.**

In [101]:
word = "hello world"
vowel_constant = {
    "vowels" : [],
    "constants" : []
}

for chr in word:
  if chr in ["a","e","o","u"]:
    vowel_constant["vowels"].append(chr)
  else:
    vowel_constant["constants"].append(chr)

print("original word = ",word)
print(vowel_constant)

original word =  hello world
{'vowels': ['e', 'o', 'o'], 'constants': ['h', 'l', 'l', ' ', 'w', 'r', 'l', 'd']}

**Q9) Python Program to calculate factorial.**

In [105]:
n = 5
fact = 1

for i in range(1,n+1):
  fact *= i

print("Factorial Of",n,"=",fact)

Factorial Of 5 = 120

**Q10) Python Program to merge two lists.**

In [109]:
list1 = numbers[0:15]
print("List1 :",list1)
list2 = numbers[15:len(numbers)]
print("List2 :",list2)

merge = list1 + list2
print("Merge 2 Lists =",merge)

List1 : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
List2 : [16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
Merge 2 Lists = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

[512, 12, 4, 3]